<!doctype html>
<html lang="en">
{[ harder ]}

<body style="padding: 36px;">
{[ $title := "aaaaaaa" ]}

{[ echo $title ]}
{[ h 2 $title "aa" "aa"]}
{[ hc .data1 ]}
{[ $v1 := "111" ]}
{[ btn .btn1 "id=a123"]}
<div style="width: 260px;">{[ input .input1]}</div>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#aa123">
    Launch demo modal
</button>

{[ modal "aa123" .modal1 ]}

</html>
<style>
    .aa {
        color: red;
    }
    .bbb {
        color: #0a53be;
    }
</style>
<script>

</script>
